:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color: white;
  background-color: #2A2D32;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main {
  display: flex;
  width: 100%;
  height: 97vh;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-content {
  display: flex;
  width: 15%;
  height: 100%;
  flex-direction: column;
  justify-content: top;
  align-items: left;
}

.right-content {
  display: flex;
  width: 85%;
  height: 100%;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

.button-container{
  padding: 0.5em 1.2em; 
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em; 
}

.prompt-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.play{
  border-radius: 8px;
  border: 1px solid #4A43CE;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.6em 3em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  transition: 0.25s;
  cursor: pointer;
  background-color: #25272C;
  color: white;
  box-shadow: -5px -5px 10px -1px rgba(231, 211, 211, 0.25);
}
.play:hover{
  background-color: #4A43CE; 
}

.play-2{
  border-radius: 8px;
  border: 1px solid #4A43CE;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.6em 3em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  transition: 0.25s;
  cursor: pointer;
  background-color: #25272C;
  color: white;
  width: 30%;
  box-shadow: -5px -5px 10px -1px rgba(231, 211, 211, 0.25);
}
.play-2:hover{
  background-color: #4A43CE; 
}


.menu-button{
  width:100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  transition: border-color 0.25s;
}

input{
  width: 50%;
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  background-color: inherit;
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  color: white;
  cursor: pointer;
  background-color: inherit;
}
button:hover {
  background-color: #25272C;
  color: white;
  box-shadow: -5px -5px 10px -1px rgba(231, 211, 211, 0.25);
}


button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

form{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center; 
}

.gallery-head {
  display: flex;
  width: 100%;
  padding-top: 40px;
  justify-content: center;
  text-align: center;
  color: white;
}

.stuff{
  display:flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: white; 
}

.input-settings {
  width: 70%;
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  background-color: inherit;
  color: white;
}

.stuff-container{
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  text-align: left;
  color: white; 
}


.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  padding: 10px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
